.none {
    display: none !important;
}
.error-warning {
    color: #dcdcdc !important;
    margin-bottom: 7px;
}
.wrong_input {
    border-bottom: 2px solid #e09616 !important;
}
.error-block {
    margin-top: 7px;
    padding: 10px 30px;
    text-align: center;
    border: 2px solid #f6bf48 !important; 
    color: #f6bf48 !important;
}
* {
    font-family: 'Roboto', sans-serif;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #1e57b8;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #dcdcdc;
}