.header {
    width: 100%;
    height: 50px;
    padding: 10px 5%;
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    background-color: #1e57b8;
}
.logout-form__logout-btn {
    padding: 8px 12px;
    border-radius: 5px;
}
.logout-form__logout-btn:hover {
    color: #e09616;
}
.main {
    max-height: 100%;
    padding: 150px 3% 0 3%;
}
.main__addToDo-btn {
    margin-bottom: 20px;
    background-color: #1e57b8;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    border: 2px solid transparent;
}
.main__addToDo-btn:hover, 
.toDo-form__submit-btn:hover, 
.modal-footer__close-btn:hover {
    background-color: transparent;
    color: #1e57b8;
    border-color: #1e57b8;
}
.toDo-form {
    margin-bottom: 50px;
    border: 2px solid #1e57b8;
    border-radius: 5px;
    padding: 20px 40px;
    width: 500px;
    position: relative;
}
.toDo-form__close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    font-size: 20px;
}
.toDo-form__close-btn:hover {
    color: #bb1e06;
}
.toDo-form__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #1e57b8;
}
input[type=text], textarea {
    border-bottom: 2px solid #1e57b8;
}
textarea {
    resize: none;
}
label {
    display: flex;
    margin-bottom: 20px;
}
label > div {
    margin-right: 20px;
    width: 150px;
}
.toDo-form__submit-btn {
    background-color: #1e57b8;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    border: 2px solid transparent;
}
.filter-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 50%;
    align-items: center;
}
.status-filter-wrapper {
    width: 15%;
}
.date-filter {
    width: 15%;
}
.time-filter-wrapper {
    width: 55%;
    display: flex;
    justify-content: space-around;
    padding: 0px 5%;
}
.filter-wrapper__reset-btn {
    width: 15%;
    padding: 5px 12px;
    border-radius: 5px;
}
.filter-wrapper__reset-btn:hover {
    color: #e09616; 
}
.modal-wrapper {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
.modal-window {
    width: 300px;
    background-color: #fff;
    position: relative;
    top: 25%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.modal-header {
    display: flex;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #dbdbdb80;
    padding: 10px 10px;
}
.modal-header__title {
    font-size: 20px;
    color: #1e57b8;
    font-weight: bold;
}
.modal-header__close-btn {
    font-size: 25px;
    background-color: transparent;
}
.modal-header__close-btn:hover {
    color: #bb1e06;
}
.modal-body {
    padding: 10px 10px;
    min-height: 80px;
}
.modal-body__message {
    font-size: 14px;
}
.modal-footer {
    height: 50px;
    background-color: #dbdbdb80;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 10px;
    align-content: center;
}
.modal-footer__close-btn {
    padding: 5px 12px;
    background-color: #1e57b8;
    color: white;
    border-radius: 3px;
    border: 2px solid transparent;
}
.toDo-list__item {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    margin: 10px 0px;
}
.main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hidden-content {
    padding-bottom: 5px;
}
.hidden-content__title {
    margin-top: 10px;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #1e57b8;
}
.toDo-item {
   display: flex;
   flex-direction: row; 
   width: 85%;
   padding: 5px 0px;
   cursor: pointer;
}
.toDo-list__item:hover {
    border-bottom: #1e57b8 solid 2px;
}
.toDo-item-heading {
    display: flex;
    flex-direction: row; 
    width: 100%;
    padding-right: 15%;
    padding-bottom: 5px;
    border-bottom: #1e57b8 solid 2px;
    text-transform: uppercase;
    font-weight: bold;
    color: #1e57b8;
    margin-bottom: 20px;
    font-size: 16px;
}
.toDo-buttons {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    width: 10%;
}
.toDo-buttons > button {
    width: 24px;
    height: 24px;
    background-color: transparent;
}
.toDo-buttons__in_progress-btn {
    background-image: url('/public/res/icons/end.png');
}
.toDo-buttons__expired-btn {
    background-image: url('/public/res/icons/clock.png');
}
.toDo-buttons__cancelled-btn {
    background-image: url('/public/res/icons/error.png');
}
.toDo-buttons__completed-btn {
   background-image: url('/public/res/icons/check.png');
}
.toDo-delete-form {
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toDo-item-heading__type, 
.toDo-item__type,
.toDo-item-heading__topic, 
.toDo-item__topic,
.toDo-item-heading__location,
.toDo-item__location,
.toDo-item-heading__duration,  
.toDo-item__duration, 
.toDo-item-heading__date, 
.toDo-item__date,
.toDo-item-heading__time,
.toDo-item__time {
    width: 25%;
}
.toDo-delete-form__delete-btn {
    background-color: #bb1e06;
    padding: 5px 8px;
    border-radius: 3px;
    color: white;
    border: 2px solid transparent;
}
.toDo-delete-form__delete-btn:hover {
    background-color: white;
    border-color: #bb1e06;
    color: #bb1e06;
}
.toDo-wrapper {
    border: 2px solid #1e57b8;
    border-radius: 5px;
    padding: 20px 40px;
}
select {
    background-color: transparent;
    border-bottom: 2px solid #1e57b8;
}
.time-filter-wrapper__option {
    cursor: pointer;
}
.time-filter-wrapper__option:hover {
    color: #1e57b8;
}
.checked {
    color: #1e57b8;
}